body{
    color: #000;
    margin: 0;
    font-size: 16px;
}

h1,h2,h3,h4,h5,p{
    margin: 0;
}

ul,ol{
    list-style: 0;
    padding: 0;
    margin: 0;
}

a{
    text-decoration: none;
    color: currentColor;
}

button{
    color: currentColor;
    cursor: pointer;
    font-family: inherit;
    font-size: inherit;
}

img{
    display: block;
    width: 100%;
    height: auto;
}

.container{
    max-width: 1376px;
    margin: 0 auto;
    padding: 0 32px;
}

/* Header */

.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 30px;
}

.logo{
    max-width: 320px;
}

/* Banner */

.banner-title{
    text-align: center;
    font-size: 2rem;
    margin-bottom: 10px;
}

.banner-text{
    margin-bottom: 20px;
    text-align: center;
}

.banner-img{
    max-width: 500px;
    margin: 0 auto;
}

.banner-subtitle-cont{
    margin-bottom: 20px;
}

.question-number{
    font-weight: bold;
}

.answerBtn{
    background-color: var(--button-color);
    border: none;
    font-size: 18px;
    font-weight: bold;
    padding: 20px 0;
    color: #fff;
}

.button-cont{
    display: flex;
    flex-direction: column;
    row-gap: 10px;
    margin-top: 10px;
}


/* Footer */

.footer{
    display: flex;
    justify-content: space-between;
    padding: 10px 30px;
    background: var(--bg_color_footer);
}

.footer-item{
    color: #fff;
    cursor: pointer;
}

.footer-item:hover, .footer-item:focus{
    color: #e7e7e7;
}

.pp-wrap {
    position: relative;
    z-index: 99;
    display: none;
}
.wrapp-policy {
    background-color: white;
    border: solid 1px grey;
    border-radius: 15px;
    z-index: 999;
    padding: 20px;
    width: minmax(80vw, 50vw);
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}
.wrapp-policy > h2 {
    text-align: center;
    margin-top: 5px;
    margin-right: 30px;
}
.wrapp-policy > p > img {
    position: absolute;
    right: 20px;
    top: 20px;
    width: 30px;
}
.wrapp-policy > p:hover {
    cursor: pointer;
}
.policy-description {
    padding: 20px;
    border: solid 1px grey;
    border-radius: 15px;
    height: 70vh
}
.policy-description > p {
    overflow-y: scroll;
    height: 100%;
    line-height: 1.5em;
}