body {
  color: #000;
  margin: 0;
  font-size: 16px;
  font-family: "Atkinson Hyperlegible Next", serif;
}

h1,
h2,
h3,
h4,
h5,
p {
  margin: 0;
}

ul,
ol {
  list-style: 0;
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
  color: currentColor;
}

button {
  color: currentColor;
  cursor: pointer;
  font-family: inherit;
  font-size: inherit;
}

img {
  display: block;
  width: 100%;
  height: auto;
}

.container {
  max-width: 1376px;
  margin: 0 auto;
  padding: 0 32px;
}

/* Header */

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0px 30px;
  background: var(--bg_color_header);
}

.logo {
  max-width: 150px;
}

@media screen and (min-width: 1200px) {
  .logo {
    max-width: 220px;
  }
}

/* Banner */

.banner-title {
  text-align: center;
  font-size: 2rem;
  margin-bottom: 10px;
  margin-top: 15px;
}

.banner-text {
  margin-bottom: 20px;
  text-align: center;
}

.banner-img {
  max-width: 500px;
  margin: 0 auto;
}

.banner-subtitle-cont {
  margin-bottom: 20px;
}

.question-number {
  font-weight: bold;
}

.answerBtn {
  background-color: var(--button-color);
  border: none;
  font-size: 18px;
  font-weight: bold;
  padding: 20px 0;
  color: #fff;
}

.button-cont {
  display: flex;
  flex-direction: column;
  row-gap: 10px;
  margin-top: 10px;
}

/* Footer */

.footer {
  display: flex;
  justify-content: space-between;
  padding: 10px 30px;
  background: var(--bg_color_footer);
}

.footer-item {
  color: #fff;
  cursor: pointer;
}

.footer-item:hover,
.footer-item:focus {
  color: #e7e7e7;
}

.pp-wrap {
  position: relative;
  z-index: 99;
  display: none;
}
.wrapp-policy {
  background-color: white;
  border: solid 1px grey;
  border-radius: 15px;
  z-index: 999;
  padding: 20px;
  width: minmax(80vw, 50vw);
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
.wrapp-policy > h2 {
  text-align: center;
  margin-top: 5px;
  margin-right: 30px;
}
.wrapp-policy > p > img {
  position: absolute;
  right: 20px;
  top: 20px;
  width: 30px;
}
.wrapp-policy > p:hover {
  cursor: pointer;
}
.policy-description {
  padding: 20px;
  border: solid 1px grey;
  border-radius: 15px;
  height: 70vh;
}
.policy-description > p {
  overflow-y: scroll;
  height: 100%;
  line-height: 1.5em;
}

@media screen and (max-width: 767px) {
  .footer {
    flex-direction: column;
    align-items: center;
    row-gap: 10px;
  }

  .wrapp-policy{
    width: 80%;
  }
}

/* Box section */

#box-section {
  display: none;
}

.loader {
  max-width: 100px;
}

@media screen and (max-width:767px) {
  .loader {
    max-width: 75px;
  }
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.wrapp-gift-box {
  display: grid;
  grid-template-columns: repeat(4, 140px);
  grid-template-rows: repeat(3, 100px);
  justify-content: center;
  gap: 110px;
  margin-top: 130px;
}

.element-box {
  position: relative;
}

.element-box:hover {
  animation: shake 0.3s linear forwards;
}

@keyframes shake {
  0%,
  100% {
    transform: rotate(0deg);
  }
  10% {
    transform: rotate(1deg);
  }
  20% {
    transform: rotate(3deg);
  }
  30% {
    transform: rotate(5deg);
  }
  40% {
    transform: rotate(7deg);
  }
  50% {
    transform: rotate(6deg);
  }
  60% {
    transform: rotate(4deg);
  }
  70% {
    transform: rotate(2deg);
  }
  80% {
    transform: rotate(-2deg);
  }
  90% {
    transform: rotate(-4deg);
  }
}

.box-cover,
.shadow-box,
.box-body {
  position: absolute;
  width: 100%;
}

.box-cover {
  top: -41px;
  width: 105%;
}

.shadow-box {
  z-index: -1;
}

.prize {
  position: absolute;
  top: 25px;
  left: 38px;
  z-index: -1;
  width: 53%;
}

.box-body {
  top: 13px;
  left: 3px;
  z-index: -1;
}

.open-box {
  top: -94px;
  transition: all 1.5s ease-in-out;
}

.open-prize {
  top: -28px;
  transition: all 2s ease-in-out;
}

@media screen and (max-width: 1199px) {
    .wrapp-gift-box {
      grid-template-columns: repeat(4, 130px);
      grid-template-rows: repeat(3, 150px);
      gap: 60px;
      margin-top: 100px;
    }
  
    .box-cover {
      top: -40px;
      left: 1px;
    }
  
    .open-box {
      top: -94px;
      transition: all 1.5s ease-in-out;
    }
  
    .shadow-box {
      z-index: -1;
      left: 3px;
      top: 0px;
    }
  
    .prize {
      top: 20px;
      left: 33px;
    }
  
    .open-prize {
      top: -25px;
      transition: all 2s ease-in-out;
    }
  }


@media screen and (max-width: 767px) {
    .wrapp-gift-box {
      grid-template-columns: repeat(3, 100px);
      grid-template-rows: repeat(4, 120px);
      gap: 30px;
      margin-top: 70px;
    }
  
    .box-cover {
      top: -20px;
      left: 1px;
    }
  
    .open-box {
      top: -64px;
      transition: all 1.5s ease-in-out;
    }
  
    .shadow-box {
      z-index: -1;
      left: 3px;
      top: 3px;
    }
  
    .prize {
      top: 20px;
      left: 28px;
    }
  
    .open-prize {
      top: -15px;
      transition: all 2s ease-in-out;
    }
  }

@media screen and (max-width: 406px) {
  .wrapp-gift-box {
    grid-template-columns: repeat(3, 70px);
    grid-template-rows: repeat(4, 80px);
    gap: 30px;
    margin-top: 50px;
  }

  .box-cover {
    top: -15px;
    left: 2px;
  }

  .open-box {
    top: -44px;
    transition: all 1.5s ease-in-out;
  }

  .shadow-box {
    z-index: -1;
    left: 3px;
    top: 6px;
  }

  .prize {
    top: 20px;
    left: 18px;
  }

  .open-prize {
    top: -10px;
    transition: all 2s ease-in-out;
  }
}

#boxCont {
  display: none;
}

#visib-modal-second {
  display: none;
}

.wrapp_modal_window {
  text-align: center;
  border-radius: 15px;
  position: absolute;
  background-color: white;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  max-width: 500px;
  z-index: 10;
}
.wrapp_modal_window:nth-of-type(2) {
  max-width: 550px;
}

@media screen and (max-width: 767px) {
    .wrapp_modal_window:nth-of-type(2) {
        max-width: 90%;
      }
}

.modal_window_characteristik {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.modal_window_characteristik,
.failed_attempt {
  padding: 20px;
}
.modal_window_characteristik > img {
  max-width: 200px;
  width: 100%;
  animation: boxModal 1.5s linear forwards;
  animation-iteration-count: infinite;
}

@keyframes boxModal {
    0% {
        transform: rotate(0deg);
    }
    10% {
        transform: rotate(2deg);
    }
    
    20% {
        transform: rotate(4deg);
    }
    30% {
        transform: rotate(6deg);
    }
    40% {
        transform: rotate(4deg);
    }
    50% {
        transform: rotate(2deg);
    }
    60% {
        transform: rotate(0deg);
    }
    70% {
        transform: rotate(-2deg);
    }
    80% {
        transform: rotate(-4deg);
    }
    90% {
        transform: rotate(-2deg);
    }
    100% {
        transform: rotate(0deg);
    }
}

.block_modal {
  margin-bottom: 30px;
}
.modal_window_characteristik > h2 {
  font-size: 25px;
  opacity: 0.7;
  margin: 20px auto;
  width: 100%;
  padding-top: 10px;
  word-break: break-word;
}
.failed_attempt > h2 {
  opacity: 0.6;
  font-size: 28px;
  font-weight: bold;
  margin: 20px 0 0 0;
}
.modal_window_characteristik > ol {
  list-style-type: none;
  text-align: center;
  font-size: 16px;
  padding-bottom: 22px;
  padding-left: 0;
}
.modal_window_characteristik > ol > li {
  padding-bottom: 10px;
}
.failed_attempt > p {
  font-size: 18px;
  margin-top: 10px;
  padding: 0 0 22px 0;
  text-align: center;
}

#offer_button {
  cursor: pointer;
}

.failed_attempt {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.close_modal {
  text-decoration: none;
  background-color: var(--main_button_color);
  color: white;
  padding: 20px 50px;
  font-size: 18px;
  border-radius: 15px;
  transition: all 0.3s ease-in-out;
}
.close_modal:hover {
  cursor: pointer;
  background-color: var(--main_button_hover);
}
.overlay {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.3);
  z-index: 9;
}
#fullscreen_prize_visib {
  display: none;
}
.picture_after_boxes {
  position: absolute;
  z-index: 9;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) rotate(0deg);
  transition: transform 2.5s ease-in-out;
  width: 100%;
  max-width: 320px;
}

.picture_after_boxes.active {
  transform: translate(-50%, -50%) rotate(360deg);
}
.failed_attempt > ul {
  list-style-type: none;
  text-align: center;
  margin-bottom: 45px;
  font-size: 16px;
  opacity: 0.7;
  line-height: 30px;
  padding: 0;
  font-family: var(--main_fonts);
}
.failed_attempt > img {
  max-width: 200px;
  width: 100%;
}
.decor_last_modal > h2 {
  font-size: 30px;
  font-family: var(--main_fonts);
}
.last_modal_button > a {
  text-decoration: none;
  background-color: var(--main_button_color);
  color: white;
  padding: 20px 100px;
  font-size: 18px;
  border-radius: 10px;
  transition: all 0.3s ease-in-out;
}

@media screen and (max-width: 406px) {
    .last_modal_button > a {
        padding: 20px 50px;
    }
}

#visib-modal-third {
  display: none;
}

#verification {
  display: flex;
  flex-direction: column;
}

#verification h2 {
  font-size: 42px;
  font-weight: bold;
  margin: 20px auto;
  font-family: "Atkinson Hyperlegible Next", serif;
  text-align: center;
}

#verification ul {
  margin-top: 20px;
  list-style: none;
  display: flex;
  flex-direction: column;
  row-gap: 15px;
  padding-left: 20px;
}

#verification li {
  font-size: 22px;
  font-weight: bold;
  font-family: "Atkinson Hyperlegible Next", serif;
}

.loader-cont {
  display: flex;
  flex-direction: column;
  align-items: center;
}

@media screen and (max-width: 767px) {
  #verification h2 {
    font-size: 32px;
  }
  #verification li {
    font-size: 16px;
  }
}
