body{
    color: #000;
    margin: 0;
    font-size: 16px;
}

h1,h2,h3,h4,h5,p{
    margin: 0;
}

ul,ol{
    list-style: 0;
    padding: 0;
    margin: 0;
}

a{
    text-decoration: none;
    color: currentColor;
}

button{
    color: currentColor;
    cursor: pointer;
    font-family: inherit;
    font-size: inherit;
}

img{
    display: block;
    width: 100%;
    height: auto;
}

.container{
    max-width: 1376px;
    margin: 0 auto;
    padding: 0 32px;
}

/* Header */

.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 30px;
}

.logo{
    max-width: 320px;
}

/* Banner */

.banner-title{
    text-align: center;
    font-size: 2rem;
    margin-bottom: 10px;
}

.banner-text{
    margin-bottom: 20px;
    text-align: center;
}

.banner-img{
    max-width: 500px;
    margin: 0 auto;
}