/* Block timer */
.block_timer {
    text-align: center;
    color: var(--bg_color_timer);
    margin: 15px 0;
    font-family:'Courier New', Courier, monospace;
    font-weight: bold;
}
.block_timer > p {
    margin-top: 0;
    margin-bottom: 4px;
    font-size: 18px;
}
/* Header end */
/* Display product start */
#visib_main_product {
    display: block;
}
.wrapp_section_product {
    display: flex;
    flex-direction: column;
}
.text_header > h1 {
    margin: 10px 0;
    font-size: 2rem;
    text-align: center;
}
.text_header > p {
    margin: 0;
    font-size: 14px;
}
.main_block_product {
    width: 360px;
    margin: 0 auto;
}
.main_block_product > img {
    width: 100%;
    margin: 15px 0;
}
.text_bottom_product > p {
    margin: 5px 0;
    font-size: 14px;
}
.width_ratings {
    width: 230px;
}

.countdown {
    margin: 0 auto;
}
.countdown .bloc-time {
    float: left;
    margin-right: 20px;
    text-align: center;
}
.countdown .bloc-time:last-child {
    margin-right: 0;
}
.countdown .count-title {
    display: block;
    margin-bottom: 15px;
    font: normal 0.94em "Lato";
    color: #1a1a1a;
    text-transform: uppercase;
}
.countdown .figure {
    position: relative;
    float: left;
    height: 42px;
    width: 34px;
    margin-right: 10px;
    background-color: var(--bg_color_timer);
    border-radius: 8px;
    -moz-box-shadow: 0 3px 4px 0 rgba(0, 0, 0, 0.2), inset 2px 4px 0 0 rgba(255, 255, 255, 0.08);
    -webkit-box-shadow: 0 3px 4px 0 rgba(0, 0, 0, 0.2), inset 2px 4px 0 0 rgba(255, 255, 255, 0.08);
    box-shadow: 0 3px 4px 0 rgba(0, 0, 0, 0.2), inset 2px 4px 0 0 rgba(255, 255, 255, 0.08);
}
.countdown .figure:last-child {
    margin-right: 0;
}
.countdown .figure > span {
    position: absolute;
    left: 0;
    right: 0;
    margin: auto;
    font-size: 23px;
    bottom: 6px;
    font-weight: 500;
    -webkit-color: var(--color_timer);
    color: var(--color_timer);
    top: 1px;
}
.countdown .figure .top:after, .countdown .figure .bottom-back:after {
    content: "";
    position: absolute;
    z-index: -1;
    left: 0;
    bottom: 9px;
    -webkit-bottom: 9px;
    width: 100%;
    height: 100%;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}
.countdown .figure .top {
    z-index: 3;
    -webkit-background-color: var(--bg_color_timer);
    background-color: var(--bg_color_timer);
    transform-origin: 50% 100%;
    -webkit-transform-origin: 50% 100%;
    -moz-border-radius-topleft: 10px;
    -webkit-border-top-left-radius: 10px;
    border-top-left-radius: 10px;
    -moz-border-radius-topright: 10px;
    -webkit-border-top-right-radius: 10px;
    border-top-right-radius: 10px;
    -moz-transform: perspective(200px);
    -ms-transform: perspective(200px);
    -webkit-transform: perspective(200px);
    transform: perspective(200px);
}
.countdown .figure .bottom {
    z-index: 1;
    top: 5px;
    -webkit-top: 5px;
}
.countdown .figure .bottom:before {
    content: "";
    position: absolute;
    display: block;
    top: 0;
    left: 0;
    width: 100%;
    height: 50%;
    background-color: rgba(0, 0, 0, 0.02);
}
.countdown .figure .bottom-back {
    z-index: 2;
    top: 0;
    height: 50%;
    overflow: hidden;
    background-color: var(--bg_color_timer);
    -moz-border-radius-topleft: 10px;
    -webkit-border-top-left-radius: 10px;
    border-top-left-radius: 10px;
    -moz-border-radius-topright: 10px;
    -webkit-border-top-right-radius: 10px;
    border-top-right-radius: 10px;
}
.countdown .figure .bottom-back span {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    margin: auto;
}
.countdown .figure .top, .countdown .figure .top-back {
    height: 52%;
    overflow: hidden;
    -moz-backface-visibility: hidden;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden!important;
}
.countdown .figure .top-back {
    z-index: 4;
    bottom: 0;
    top: 18px;
    background-color: var(--bg_color_timer);
    -webkit-transform-origin: 50% 0;
    transform-origin: 50% 0;
    -moz-transform: perspective(200px) rotateX(180deg);
    -ms-transform: perspective(200px) rotateX(180deg);
    -webkit-transform: perspective(200px) rotateX(180deg);
    transform: perspective(200px) rotateX(180deg);
    -moz-border-radius-bottomleft: 10px;
    -webkit-border-bottom-left-radius: 10px;
    border-bottom-left-radius: 10px;
    -moz-border-radius-bottomright: 10px;
    -webkit-border-bottom-right-radius: 10px;
    border-bottom-right-radius: 10px;
}
.countdown .figure .top-back span {
    position: absolute;
    top: -50%;
    left: 0;
    right: 0;
    margin: auto;
}


@media screen and (max-width: 900px) {
    .countdown {
        pointer-events: none;
        will-change: transform;
    }

    .countdown .figure .top-back {
        top: 13px;
    }


    .countdown .figure {
        position: relative;
        float: left;
        height: 35px;
        width: 30px;
        margin-right: 5px;
        background-color: var(--bg_color_timer);
        border-radius: 8px;
        -moz-box-shadow: 0 3px 4px 0 rgba(0, 0, 0, 0.2), inset 2px 4px 0 0 rgba(255, 255, 255, 0.08);
        -webkit-box-shadow: 0 3px 4px 0 rgba(0, 0, 0, 0.2), inset 2px 4px 0 0 rgba(255, 255, 255, 0.08);
        box-shadow: 0 3px 4px 0 rgba(0, 0, 0, 0.2), inset 2px 4px 0 0 rgba(255, 255, 255, 0.08);
    }

    .countdown .figure .top:after, .countdown .figure .bottom-back:after {
        content: "";
        position: absolute;
        z-index: -1;
        left: 0;
        bottom: 6px;
        width: 100%;
        height: 100%;
        border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    }
    
    .countdown .figure > span {
        position: absolute;
        left: 0;
        right: 0;
        margin: auto;
        font-size: 18px;
        bottom: 6px;
        font-weight: 500;
        color: var(--color_timer);
        top: 1px;
    }

    .countdown .bloc-time {
        float: left;
        margin-right: 10px;
        text-align: center;
    }
}

@media screen and (max-width: 560px) {
    .countdown .figure .top-back {
        top: 11px;
    }


    .countdown .figure {
        position: relative;
        float: left;
        height: 32px;
        width: 27px;
        margin-right: 5px;
        background-color: var(--bg_color_timer);
        border-radius: 8px;
        -moz-box-shadow: 0 3px 4px 0 rgba(0, 0, 0, 0.2), inset 2px 4px 0 0 rgba(255, 255, 255, 0.08);
        -webkit-box-shadow: 0 3px 4px 0 rgba(0, 0, 0, 0.2), inset 2px 4px 0 0 rgba(255, 255, 255, 0.08);
        box-shadow: 0 3px 4px 0 rgba(0, 0, 0, 0.2), inset 2px 4px 0 0 rgba(255, 255, 255, 0.08);
    }

    .countdown .figure .top:after, .countdown .figure .bottom-back:after {
        content: "";
        position: absolute;
        z-index: -1;
        left: 0;
        bottom: 6px;
        width: 100%;
        height: 100%;
        border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    }
    
    .countdown .figure > span {
        position: absolute;
        left: 0;
        right: 0;
        margin: auto;
        font-size: 18px;
        bottom: 6px;
        font-weight: 500;
        color: var(--color_timer);
        top: 1px;
    }

    .countdown .bloc-time {
        float: left;
        margin-right: 10px;
        text-align: center;
    }
}

@media screen and (max-width: 406px) {
    .block_timer{
        display: none;
    }
}